* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #222222;
    color: whitesmoke;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    padding: 30px;
}

.header {
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.5), #28b485), url("../img/hero.jpg");
    background-position: top;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
    height: 80vh;
    padding: 30px;
    position: relative;
}

.logo-box {
    animation-duration: 2s;
    animation-name: logoInUp;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 30px;
    position: absolute;
}

.logo {
    height: 35px;
}

.text-box {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 45%;
    transform: translate(-50%, -50%);
}

.heading-primary {
    color: #fff;
    margin-bottom: 60px;
    text-transform: uppercase;
}

.heading-primary-main {
    animation-duration: 3s;
    animation-name: moveInLeft;
    animation-timing-function: ease-in-out;
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
}

.heading-primary-sub {
    animation-duration: 3s;
    animation-name: moveInRight;
    animation-timing-function: ease-in-out;
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17px;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
        visibility: visible;
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes logoInUp {
    0% {
        opacity: 0;
        transform: rotateY(90deg);
    }
    100% {
        opacity: 1;
        transform: rotateY(0deg);
    }
}

.btn:any-link {
    border-radius: 100px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin: 10px;
    padding: 15px 40px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .2s;
}

.btn:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
}

.btn:active {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-1px);
}

.btn-white {
    background-color: #fff;
    color: #777;
}

.btn::after {
    border-radius: 100px;
    content: "";
    display: inline-block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: all .4s;
    width: 100%;
    z-index: -1;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scale(1.2);
    opacity: 0;
}

.btn-animated {
    animation: moveInButton 1s ease-out .75s;
    animation-delay: 2s;
    animation-fill-mode: backwards; /* This makes the animation starts with the 0% specified values */
}

@keyframes moveInButton {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
