.header {
	background-image: linear-gradient(
			to right top,
			rgba($color-primary-light, 0.8),
			rgba($color-primary-dark, 0.8)
		),
		url('../img/hero.jpg');
	background-position: top;
	background-size: cover;
	clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
	height: 80vh;
	position: relative;

	&__logo-box {
		animation-duration: 2s;
		animation-delay: 1s;
		animation-fill-mode: backwards;
		animation-name: logoInUp;
		animation-timing-function: ease-in-out;
		top: 4rem;
		left: 4rem;
		position: absolute;
	}

	&__logo {
		height: 3.5rem;
	}

	&__text-box {
		left: 50%;
		position: absolute;
		text-align: center;
		top: 45%;
		transform: translate(-50%, -50%);
	}
}
