.navigation {
	&__checkbox {
		display: none;
	}
	&__button {
		background-color: $color-white;
		border-radius: 50%;
		box-shadow: 0 1rem 2rem rgba(black, 0.1);
		height: 7rem;
		position: fixed;
		right: 6rem;
		top: 6rem;
		width: 7rem;
		z-index: 2;
	}
	&__background {
		background-image: radial-gradient(
			$color-primary-light,
			$color-primary-dark
		);
		border-radius: 50%;
		height: 6rem;
		position: fixed;
		right: 6.5rem;
		top: 6.5rem;
		transform: scale(75);
		width: 6rem;
		z-index: 1;
	}
	&__nav {
		height: 100vh;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 3;
	}
	&__list {
		// @include centerfix;
		left: 50%;
		list-style: none;
		position: absolute;
		text-align: center;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	&__item {
		margin: 1rem;
	}
	&__link {
		&:any-link {
			background-image: linear-gradient(
				120deg,
				transparent 0%,
				transparent 50%,
				white 50.1%
			);
			background-size: 250%;
			border-radius: 0.25rem;
			color: $color-white;
			display: inline-block;
			font-size: 3rem;
			font-weight: 300;
			padding: 1rem 2rem;
			text-decoration: none;
			text-transform: uppercase;
			transition: all 0.4s ease;

			span {
				display: inline-block;
				margin-right: 1rem;
			}
		}

		&:hover,
		&:active {
			background-position: 100%;
			color: $color-primary;
			transform: translateX(1rem);
		}
	}
}
