.btn {
	&:any-link {
		border-radius: 10rem;
		box-shadow: 0 0.3rem 0.5rem rgba($color-black, 0.2);
		display: inline-block;
		font-size: $default-font-size;
		font-weight: 700;
		margin: 1rem;
		padding: 1.5rem 4rem;
		position: relative;
		text-decoration: none;
		text-transform: uppercase;
		transition: all 0.2s;
	}

	&:hover {
		box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
		transform: translateY(-0.3rem);

		&::after {
			transform: scale(1.2);
			opacity: 0;
		}
	}

	&:active {
		box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
		transform: translateY(-0.1rem);
	}

	&::after {
		border-radius: 10rem;
		content: '';
		display: inline-block;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		transition: all 0.4s;
		width: 100%;
		z-index: -1;
	}

	&--white {
		background-color: $color-grey-light-1;
		color: $color-grey-dark-1;

		&::after {
			background-color: $color-white;
		}
	}

	&--green {
		background-color: $color-primary;
		color: $color-white;

		&::after {
			background-color: $color-primary;
		}
	}

	&--animated {
		animation: moveInButton 1s ease-out 0.75s;
		animation-delay: 2s;
		animation-fill-mode: backwards;
	}
}

.btn-text {
	&:any-link {
		border-bottom: 0.1rem solid $color-primary;
		border-radius: 0.2rem;
		color: $color-primary;
		display: inline-block;
		font-size: $default-font-size;
		font-weight: 700;
		padding: 0 1rem;
		text-decoration: none;
		transition: all 0.2s ease-in-out;
	}

	&:hover {
		background-color: $color-primary;
		border-bottom: 0.1rem solid $color-primary;
		box-shadow: 0 1rem 1rem rgba($color-black, 0.2);
		color: $color-white;
		display: inline-block;
		text-decoration: none;
		transform: translate(0, -0.1rem);
	}

	&:active {
		box-shadow: 0 0 0.5rem rgba($color-black, 0.5);
		transform: translate(0, 0.1rem);
	}
}
