.feature-box {
	background-color: rgba($color-white, 0.8);
	border-radius: 0.2rem;
	box-shadow: $default-shadow;
	color: $color-grey-dark-3;
	font-size: 1.7rem;
	font-weight: 400;
	padding: 2.5rem;
	text-align: center;
	transition: all 0.25s ease-in-out;
	&__icon {
		background-clip: text;
		background-image: linear-gradient(
			to right bottom,
			$color-primary-light,
			$color-primary-dark
		);
		color: transparent;
		display: inline-block;
		font-size: 6rem;
		margin-bottom: 0.5rem;
		-webkit-background-clip: text;
	}

	&:hover {
		transform: scale(1.025) translateY(-1rem);
	}
}
