.story {
	background-color: $color-white;
	border-radius: 0.5rem;
	box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
	font-size: $default-font-size;
	margin: 0 auto;
	padding: 6rem 6rem 6rem 9rem;
	width: 75%;
	transform: skewX(-12deg);

	&__shape {
		-webkit-clip-path: circle(50% at 50% 50%);
		-webkit-shape-outside: circle(50% at 50% 50%);
		clip-path: circle(50% at 50% 50%);
		float: left;
		height: 15rem;
		shape-outside: circle(50% at 50% 50%);
		transform: translateX(-3rem) skewX(12deg);
		width: 15rem;
	}

	&__image {
		height: 100%;
	}

	&__text {
		transform: skewX(12deg);
	}
}
