body {
	background-color: $color-background;
	// color: $color-white;
	color: black;
	font-family: 'Lato  ', sans-serif;
	font-weight: 200;
	line-height: 1.7;
	padding: 3rem;
}

.heading-primary {
	color: $color-white;
	margin-bottom: 6rem;
	text-transform: uppercase;

	&--main {
		animation-duration: 3s;
		animation-name: moveInLeft;
		animation-timing-function: ease-in-out;
		display: block;
		font-size: 6rem;
		font-weight: 400;
		letter-spacing: 3.5rem;
	}

	&--sub {
		animation-duration: 3s;
		animation-name: moveInRight;
		animation-timing-function: ease-in-out;
		display: block;
		font-size: 2rem;
		font-weight: 700;
		letter-spacing: 1.7rem;
	}
}
