body {
	background-color: $color-background;
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	line-height: 1.7;
}

.heading-primary {
	color: $color-white;
	margin-bottom: 6rem;
	text-transform: uppercase;

	&--main {
		animation-duration: 3s;
		animation-name: moveInLeft;
		animation-timing-function: ease-in-out;
		display: block;
		font-size: 6rem;
		font-weight: 400;
		letter-spacing: 3.5rem;
	}

	&--sub {
		animation-duration: 3s;
		animation-name: moveInRight;
		animation-timing-function: ease-in-out;
		display: block;
		font-size: 2rem;
		font-weight: 700;
		letter-spacing: 1.7rem;
	}
}

.heading-secondary {
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(
		to right,
		$color-primary-light,
		$color-primary-dark
	);
	color: transparent;
	display: inline-block;
	font-size: 4rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: all 0.5s;

	&:hover {
		letter-spacing: 0.15rem;
		transform: skewY(2deg) scale(1.1);
	}
}

.heading-tertiary {
	color: $color-grey-dark-1;
	font-size: $default-font-size;
	font-weight: 700;
	text-transform: uppercase;
}

.paragraph {
	color: $color-grey-dark-1;
	font-size: $default-font-size;
	font-weight: 300;
	margin-bottom: 3rem;
	text-align: justify;
}
